<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Store | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <p>
    This website is student lab work and does not necessarily reflect Constructor University opinions. 
Constructor University does not endorse this site, nor is it checked by Constructor University 
regularly, nor is it part of the official Constructor University web presence.  
For each external link existing on this website, we initially have checked that the target page 
does not contain contents which is illegal wrt. German jurisdiction. However, as we have no in
fluence on such contents, this may change without our notice. Therefore we deny any responsib
ility for the websites referenced through our external links from here.  
No information conflicting with GDPR is stored in the server.  
    </p>

<p><strong>Contact:</strong><br>
Music Store Project<br>
    Constructor University Bremen
    Email: ahajiyeva@constructor.university, ajalilova@constructor.university<br>
</p>

</body>
</html>