{% extends "base.html" %}
{% block title %}Login | Auralia{% endblock %}

{% block content %}
<div class="login">
  <div class="card mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form method="POST" action="{{ url_for('login') }}">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" name="email" class="form-control" placeholder="user@email.com" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn-success">Log In</button>
      </form>

      <div class="text-center mt-3">
        <p>Don't have an account?</p>
        <a href="{{ url_for('signup') }}" class="text-decoration-none">Sign Up here</a>
      </div>
    </div>
  </div>
  <div class="vinyl-decor">
            <img src="{{ url_for('static', filename='vinyl1.png') }}" class="vinyl1">
            <img src="{{ url_for('static', filename='vinyl3.png') }}" class="vinyl3">
            <img src="{{ url_for('static', filename='vinyl4.png') }}" class="vinyl4">
            <img src="{{ url_for('static', filename='album_sleeve1.png') }}" class="sleeve sleeve1">  
  </div>
</div>
{% endblock %}
