{% extends "base.html" %}
{% block title %}Add Artist and its respective Products{% endblock %}
{% block content %}
<div class="artist-product-container">
<div class="card shadow mt-5">
    <div class="card-header bg-primary text-white">Artist and their Product</div>
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Select Artist</label>
                <select name="artist_id" class="form-select">
                    {% for a in artists %}
                        <option value="{{ a.artist_id }}">{{a.artist_name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Product</label>
                <select name="product_id" class="form-select">
                    {% for p in products %}
                        <option value="{{ p.product_id }}">{{ p.product_title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Select Role</label>
                <input type="text" name="role" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input class="form-control" type="text" name="username" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" name="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{ url_for('input') }}" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>
</div>
{% endblock %}
